<div class="container">
	<div class="row" style="display: flex; justify-content: space-between; align-items: center; padding: 0 2vw;">
		<div class="logo-container button">
			<img class="logo img-responsive" src="/images/LogoTransperent.png">
		</div>

		<div class="reach-out button">
			<a href="/contact">Reach Out</a>
		</div>

	</div>
	<div class="row">
		<img class="hamburger" onclick="displayMenu()" src="/images/hamburger.svg">

		<script>
			function displayMenu() {
				const elem = document.getElementsByClassName('nav-cont-small')[0];
				elem.style.display = elem.style.display === 'block' ? 'none' : 'block';
			}

			window.onresize = function () {
				const elem = document.getElementsByClassName('nav-cont-small')[0];
				elem.style.display = 'none';
			}
		</script>

		<div class="nav-cont">
			<div onclick="scrollToAnchor('timeline')">Timeline</div>
			<div onclick="scrollToAnchor('skills')">Skills</div>
			<div onclick="scrollToAnchor('portfolio')">Porfolio</div>
			<div href="/blog">Blog</div>
		</div>

		<div class="nav-cont-small">
			<div onclick="scrollToAnchor('timeline')">Timeline</div>
			<div onclick="scrollToAnchor('skills')">Skills</div>
			<div onclick="scrollToAnchor('portfolio')">Porfolio</div>
			<div href="/blog">Blog</div>
		</div>

	</div>
	<br><br>
	<div class="row">
		<h1 class="header">
			Full Stack Developer, Digital Strategist, Software Nerd
		</h1>
	</div>
	<div class="row">
		<h3 class="subtitle">I design and develop websites, apps and digital solutions.</h3>
	</div><br><br>
	<div class="row ta-center">
		<p class="body-text">Hi I'm Alex and welcome to my website. I'm a student and aspiring software developer. This
			website is aimed to
			let you know a little bit about me, show off my portfolio and let me blog my thoughts to the world. Please
			enjoy!</p>
	</div>

</div>

<div class="section bg-secondary mar-t-5 ta-center" onresize="onResize()">
	<h2 class="section-heading" id="timeline">Timeline</h2>
	<div class="orange-line height-5 width-40"></div>

	<section class="cd-timeline js-cd-timeline">
		<div class="cd-timeline__container">
			{{#each data.milestones}}
			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--{{icon_color}} js-cd-img">
					<img src="{{this.icon}}" alt="{{this.alt}}">
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h2>{{this.title}}</h2>
					<p>{{this.content}}</p>
					<span class="cd-timeline__date">{{this.month}}</span>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->
			{{/each}}
		</div>
	</section> <!-- cd-timeline -->


</div>

<div class="section mar-t-5 ta-center">
	<h2 class="section-heading" id="skills">Skills</h2>
	<div class="orange-line height-5 width-40"></div>

	<br>
	<div class="skills-cont">
		<div class="skills-table">
			<div class="skills-table-body">
				<div class="skills-table-data-col">
					<img class="skill-icon" src="/images/001-responsive.svg">

					<h3 class="skill-title">Web Development</h3>

					<span class="skill-content">
						<h4 class="skill-subheading">Languages / Frameworks</h4>

						<span class="skill-list">JavaScript, TypeScript, Angular, Node.JS, Express.JS, Python, Flask,
							Keystone.JS (CMS), HTML,
							CSS, Less, Sass, Handlebars,
							Pug</span> <br><br>
						<div class="orange-line height-3"></div>
						<br>
						I am proficient through full stack web development, with the ability to create interactive
						frontends and efficient backends. I am a huge fan of JavaScript/TypeScript stacks involving
						frontend frameworks such as Angular, React or Vue and an Express.JS backend. Whether it is a
						simple landing page or a full-fledged web app, I love designing and developing these solutions.
					</span>
				</div>
				<div class="skills-table-data-col">
					<img class="skill-icon" src="/images/002-web-analytics.svg">
					<h3 class="skill-title">Data</h3>

					<span class="skill-content">
						<h4 class="skill-subheading">Languages / Tools</h4>

						<span class="skill-list">Python, Pandas, NumPy, AI, Tensorflow (Machine Learning), Keras, SQL
							(PostgreSQL mainly!), MongoDB, ElasticSearch, BI (PowerBI, Tableau)</span> <br><br>
						<div class="orange-line height-3"></div>
						<br>
						I am a big fan of dealing with big data. I am skilled with Python and many Python frameworks
						such as Pandas and Tensorflow. Using these I am able to analyse big data sets, crunch numbers,
						display data in an intiutive manner, peform ETL functions, and effeciently store data using a
						varierty of SQL and NoSQL database engines. Recently, I have gotten very much into Machine
						Learning, using Tensorflow, and I love creating and training models to solve complex real-world
						issues with data and AI.
					</span>
				</div>
				<div class="skills-table-data-col">
					<img class="skill-icon" src="/images/003-digital-campaign.svg">
					<h3 class="skill-title">Digital Strategy</h3>

					<span class="skill-content">
						<h4 class="skill-subheading">Experience</h4>

						<span class="skill-list">I have experience desiging, implementing and building digital
							solutions. I am passionite about digital strategy and how digital solutions can bring value
							to an organisation.</span> <br><br>
						<div class="orange-line height-3"></div>
						<br>
						I was exposed to some digital strategy during my time at Nielsen TAM. This involved working on
						projects which brought innovative digital solutions to the market. It was fascinating being on
						the cutting edge and using the latest and greatest tech to develop and deliver a solution. I
						also had the chance to pitch a digital transformation to an internal process, that allowed it to
						be automated in the form of a web app. I led a project team of 3 working on this and really
						loved showing how modern techinal solutions can make great business sense.
					</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section mar-t-5 ta-center">
	<h2 class="section-heading" id="portfolio">Portfolio</h2>
	<div class="orange-line height-5 width-40"></div><br>

	<div class="portfolio-container">
		{{#each data.portfolios}}
		<div class="portfolio">
			<div class="portfolio-image" style="background-image: url('{{this.featured_photo.secure_url}}');"></div>
			<div class="portfolio-content">
				<span class="portfolio-title">{{this.title}}</span>
			</div>
		</div>
		{{/each}}
	</div>
</div>

<div class="section mar-t-5 ta-center">
	<h2 class="section-heading" id="portfolio">Contact Me</h2>
	<div class="orange-line height-5 width-40"></div><br><br>
	<a href="/contact/" class="button reach-out2">
		Reach Out!
	</a>
</div>

<script>
	function scrollToAnchor(aid) {
		$('html, body').animate({ scrollTop: $('#' + aid).position().top }, 'slow');
	}
</script>